---

interface Props {
    name:           string;
    description?:    string;
    price1:         number;
    price2:         number;
}

const {name, description, price1, price2} = Astro.props;

---

<div class="sized-item">
    <div class="prices">
        <div class="partition">
            <p class="size">small</p>
            <p class="price">{price1}</p>
        </div>
        <div class="partition">
            <p class="size">large</p>
            <p class="price">{price2}</p>
        </div>
    </div>
    <div class="texts">
        <p class="name">{name}</p>
        { description !== undefined && <p class="desc">{description}</p> }
    </div>
</div>

<style>
    .sized-item {
        width: 45%;
        min-width: 250px;
        height: 70px;
        font-family: 'Noto Sans';
        font-style: normal;
        letter-spacing: 0.05em;
    }
    .texts {
        width: 70%;
    }
    .name {
        font-weight: 400;
        font-size: 15px;
    }
    .desc {
        margin-top: 5px;
        font-size: 12px;
        letter-spacing: 0.1em;
        font-weight: 300;
    }
    .prices {
        width: 30%;
        float: right;
    }
    .partition {
        width: 100%;
    }
    .prices p {
        display: inline-block;
    }
    .size {
        font-size: 10px;
        font-weight: 400;
    }
    .price {
        font-size: 13px;
        margin-left: 17px;
    }
</style>