---

import ColumnLayout from '../layouts/ColumnLayout.astro';
import Details from '../components/Details.astro';

// setup embedded maps
const mapApiKey = import.meta.env.MAPS_API_KEY;
let mapUrl = `https://www.google.com/maps/embed/v1/place?key=${mapApiKey}&q=Eiffel+Tower,Paris+France`
let mapDirUrl = "https://www.google.com/maps/dir//Eiffel+Tower,Paris+France"

---

<ColumnLayout title="CONTACT", iconName="marker">
    <div class="map" slot="column1">
        <iframe referrerpolicy="no-referrer-when-downgrade" 
        src={mapUrl} allowfullscreen/>
    </div>
    <div class="content" slot="column2">
        <Details
            company="MR LU'S KITCHEN"
            street="#101 - 2689 Pandosy Street"
            area="Kelowna, BC"
            postalCode="V1Y 9V9"
            hours="11am - 9pm"
            phone1="250.763.2988"
            phone2="250.763.2986"
            mapDirUrl={mapDirUrl}
        />
    </div>
</ColumnLayout>

<style>
    .map {
        grid-column-start: 1;
        height: inherit;
    }
    .map iframe {
        width: 100%;
        height: inherit;
    }
    .content {
        position: relative;
        top: 50%;
        -ms-transform: translate(-50%);
        transform: translateY(-50%);
        margin-left: 15%;
        text-align: left;
    }
</style>