---

import ColumnLayout from '../layouts/ColumnLayout.astro';
import Details from '../components/Details.astro';
import SocialBar from '../components/SocialBar.astro';

// setup embedded maps
const mapApiKey = import.meta.env.MAPS_API_KEY;
let mapUrl = `https://www.google.com/maps/embed/v1/place?key=${mapApiKey}&q=Eiffel+Tower,Paris+France`;
---

<ColumnLayout title="CONTACT", iconName="marker">
    <div class="map" slot="column1">
        <iframe referrerpolicy="no-referrer-when-downgrade" 
        src={mapUrl} allowfullscreen/>
    </div>
    <div class="content" slot="column2">
        <Details/>
        <SocialBar/>
    </div>
</ColumnLayout>

<style>
    .map {
        grid-column-start: 1;
        height: 100%;
    }
    .map iframe {
        width: 100%;
        height: inherit;
    }
    .content {
        position: relative;
        top: 50%;
        -ms-transform: translate(-50%);
        transform: translateY(-50%);
        margin-left: 15%;
        text-align: left;
    }
</style>