---

import Layout from '../layouts/Layout.astro';

// setup embedded maps
const mapApiKey = import.meta.env.MAPS_API_KEY;
let mapUrl = `https://www.google.com/maps/embed/v1/place?key=${mapApiKey}&q=Eiffel+Tower,Paris+France`
let mapDirUrl = "https://www.google.com/maps/dir//Eiffel+Tower,Paris+France"

---

<Layout title="CONTACT">
    <div class="split-content">
        <div class="map">
            <iframe referrerpolicy="no-referrer-when-downgrade" src={mapUrl} allowfullscreen></iframe>
        </div>
        <div style="details">
            <div class="content">
                <p class="title-text">MR LU'S KITCHEN</p>
                <p class="common-text" style="margin-bottom: 20px">
                    #101 - 2689 Pandosy Street<br>Kelowna, BC<br>V1Y 9V9
                </p>
                <p class="common-text inline" id="label" style="margin-right: 10px;">
                    EVERY DAY
                </p>
                <p class="common-text inline" style="margin-bottom: 10px;">11am - 9pm</p>
                <a href={mapDirUrl}>
                    <p class="common-text" id="label" style="margin-bottom: 20px;"><u>GET DIRECTIONS</u></p>
                </a>
                <p class="common-text">250.763.2988 &nbsp;/&nbsp; 250.763.2986</p>
            </div>
        </div>
    </div>
</Layout>

<style>
    .split-content {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .map {
        grid-column-start: 1;
        height: 100vh;
    }
    .map iframe {
        width: 100%;
        height: inherit;
    }
    .details {
        grid-column-start: 2;
        height: 100vh;
    }
    .content {
        position: relative;
        top: 30%;
        margin: auto;
        margin-left: 80px;
        text-align: left;
    }
    .title-text {
        margin-bottom: 20px;
        font-family: "Permanent Marker";
        font-weight: 400;
        font-size: 18px;
        color: black;
    }
    .common-text {
        font-family: "Noto Sans";
        font-weight: 300;
        font-style: normal;
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 0.06em;
        color: black;
    }
    .inline {
        display: inline-block;
    }
    #label {
        display: inline-block;
        color: #939393;
    }
</style>