---

import { Image } from 'astro:assets';
import wokImg from "../assets/wok-spread.jpg";
import logo  from "../assets/logo-wide.png";

import StandardLayout from '../layouts/StandardLayout.astro';
import Details from '../components/Details.astro';

---

<StandardLayout title="Mr. Lu's Kitchen", iconName="chef">
    <div class="splash">
        <Image src={wokImg} alt="" id="splash-img"/>
        <Image src={logo} alt="" id="logo-img"/>
    </div>
    <div class="caption">
        <p>
            serving up traditional Szechuan cuisine with a modern twist,<br/> from us to you.
            <br/><br/>** Come join us as we celebrate our grand opening on <b><u>Monday June 18th</u></b>! **
        </p>
    </div>
    <div class="rule"/>
    <div class="backdrop">
        <div class="box">
            <div class="wrapper">
                <Details/>
            </div>
        </div>
    </div>
    <div class="rule"/>
</StandardLayout>

<style>
    .splash {
        width: 100%;
    }
    #splash-img {
        opacity: 90%;
    }
    #logo-img {
        position: relative;
        top: -145px;
        width: 90%;
        margin: auto;
        margin-bottom: -140px;
        opacity: 85%;
        border: 20px solid white;
    }
    .caption {
        margin-top: 20px;
        text-align: right;
        border-right: 15px solid #F7E079;
    }
    .caption p {
        padding: 15px 20px 15px 45px;
        font-family: "Nanum Pen Script", cursive;
        font-size: 20px;
        letter-spacing: 1.25px;
        font-style: normal;
    }
    .rule {
        margin: 50px auto;
        width: 75%;
        border-bottom: 7px dotted #d6d5d5;
    }
    .backdrop {
        margin-left: 15px;
        margin-bottom: 50px;
        background-color: #c8d8cc;
        border: 1px solid white;
    }
    .box {
        margin: 50px 50px;
        padding: 15px;
        padding-left: 30px;
        border: 10px double #c8d8cc;
        background-color: white;
    }
    .wrapper {
        border-left: 15px solid #F7E079;
        padding: 25px 50px;
    }

    /* hamburger time :) */
    @media(max-width: 900px) {
        .backdrop {
            margin-left: 0px;
        }
        .caption {
            /* TODO */
            margin-top: 50px;
        }
    }
</style>