---
const mapDirUrl = "https://www.google.com/maps/dir//Eiffel+Tower,Paris+France";
---

<div class="details">
    <p class="title-text btm-margin-20">MR LU'S KITCHEN</p>
    <p class="common-text btm-margin-20">
        #101 - 2689 Pandosy Street<br>Kelowna, BC<br>V1Y 9V9
    </p>
    <p class="common-text inline label btm-margin-10">
        EVERY DAY
    </p>
    <p class="common-text inline btm-margin-10">11am - 9pm</p>
    <div class="btm-margin-10">
        <a href={mapDirUrl} class="common-text label">
            <u>GET DIRECTIONS</u>
        </a>
    </div>
    <p class="common-text">250.763.2988 &nbsp;/&nbsp; 250.763.2986</p>
</div>

<style>
    .title-text {
        font-family: "Permanent Marker";
        font-weight: 400;
        font-size: 18px;
    }
    .common-text {
        font-family: "Noto Sans";
        font-weight: 300;
        font-style: normal;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 0.06em;
    }
    .inline {
        display: inline-block;
    }
    .label {
        color: #939393;
        margin-right: 15px;
    }
    .btm-margin-10 {
        margin-bottom: 10px;
    }
    .btm-margin-20 {
        margin-bottom: 20px;
    }
</style>