---

import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Props {
    iconName:   string
}

const {iconName} = Astro.props;

// handle dynamic icons
const icons = import.meta.glob<{default: ImageMetadata}>('../assets/icons/*.svg');
let path = `../assets/icons/${iconName}.svg`;
if (!icons[path]) {
    throw new Error(`Could not find icon (${iconName}) in assets.`);
}

---

<div class="icon">
    <div class="icon-background"/>
    <Image src={icons[path]()} alt=""/>
</div>

<style>
    .icon {
        margin: 30px auto;
        position: relative;
        width: 78px;
        height: 78px;
    }
    .icon-background {
        position: absolute;
        top: 0;
        left: 0;
        width: inherit;
        height: inherit;
        border-radius: 10px;
        background-color: #95B58F;
        opacity: 50%;
        filter: drop-shadow(5px -5px 4px rgba(0, 0, 0, 0.7));
        z-index: 0;
    }
    img {
        position: relative;
        top: 14px;
        left: 14px;
        width: 50px;
        height: 50px;
        z-index: 1;
    }
</style>