---

---

<div class="nav-list">
    <a href="/menu/main" class="nav-link">MAIN</a>
    <a href="/menu/combos-sets" class="nav-link">COMBOS / SETS</a>
    <a href="/menu/traditional" class="nav-link">TRADITIONAL MENU</a>
    <a href="/menu/drinks-desserts" class="nav-link">DRINKS / DESSERTS</a>
</div>
<style>
    .nav-list {
        width: 225px;
        margin: 60px auto;
    }
    .nav-link {
        display: block;
        width: auto;
        margin-top: 25px;
        margin-bottom: 25px;
        border-bottom: 1px solid transparent;
        transition: 250ms;
        color: #363020;
        text-align: center;
        font-family: "Nunito", sans-serif;
        letter-spacing: 2.5px;
        font-size: 18px;
        font-weight: 100;
        font-style: normal;
    }
    .nav-link:hover {
        border-color: black;
    }
</style>