---

---

<div class="nav-list">
    <a href="/menu/" class="nav-link">MENU</a>
    <a href="/contact/" class="nav-link">LOCATION</a>
    <a href="/contact/" class="nav-link">CONTACT</a>
    <a href="/about/" class="nav-link">ABOUT</a>
    <a href="/socials/" class="nav-link">SOCIALS</a>
</div>
<style>
    .nav-list {
        width: 225px;
    }
    .nav-link {
        display: block;
        width: auto;
        margin-top: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid transparent;
        transition: 250ms;
        color: #363020;
        text-align: center;
        font-family: "Nunito", sans-serif;
        letter-spacing: 2.5px;
        font-size: 20px;
        font-weight: 100;
        font-style: normal;
    }
    .nav-link:hover {
        border-color: black;
    }
</style>