---

---

<div class="menu-nav">
    <a href="/main" class="menu-nav-link">MAIN</a>
    <a href="/combos-sets" class="menu-nav-link">COMBOS / SETS</a>
    <a href="/traditional" class="menu-nav-link">TRADITIONAL</a>
    <a href="/drinks-desserts" class="menu-nav-link">DRINKS / DESSERTS</a>
</div>
<style>
    .menu-nav {
        width: 225px;
        margin: 80px auto;
    }
    .menu-nav-link {
        display: block;
        width: auto;
        margin-top: 25px;
        margin-bottom: 25px;
        border-bottom: 1px solid transparent;
        transition: 250ms;
        color: #363020;
        text-align: center;
        font-family: "Nunito", sans-serif;
        letter-spacing: 2.5px;
        font-size: 16px;
        font-weight: 100;
        font-style: normal;
    }
    .menu-nav-link:hover {
        border-color: black;
    }
    
    @media(max-width: 1000px) {
        .menu-nav-link {
            font-size: 15px;
        }
    }
</style>