---

---

<div class="site-nav">
    <a href="/" class="site-nav-link">HOME</a>
    <a href="/main" class="site-nav-link">MENU</a>
    <a href="/contact" class="site-nav-link">CONTACT</a>
    <a href="/about" class="site-nav-link">ABOUT</a>
</div>
<style>
    .site-nav {
        width: 225px;
        margin: 80px auto;
    }
    .site-nav-link {
        display: block;
        width: auto;
        margin-top: 25px;
        margin-bottom: 25px;
        border-bottom: 1px solid transparent;
        transition: 250ms;
        color: #363020;
        text-align: center;
        font-family: "Nunito", sans-serif;
        letter-spacing: 2.5px;
        font-size: 16px;
        font-weight: 100;
        font-style: normal;
    }
    .site-nav-link:hover {
        border-color: black;
    }
</style>